$accent-color: rgb(149, 225, 211);
$pink-color: rgb(243, 129, 129);
$grey-color: rgb(153, 153, 153);
$white-color: rgb(255, 255, 255);
$dark-grey-color: rgb(51, 51, 51);
$main-font: "Roboto", "Arial", sans-serif;