@font-face {
  font-family: 'Acrom-Regular';
  src: url('../fonts/acrom400\(Regular\).woff') format('woff');
}

@font-face {
  font-family: 'Acrom-Medium';
  src: url('../fonts/acrom600\(Medium\).woff') format('woff');
}

@font-face {
  font-family: 'Acrom-Bold';
  src: url('../fonts/acrom800\(Bold\).woff') format('woff');
}

@font-face {
  font-family: 'Acrom-ExBold';
  src: url('../fonts/acrom900\(ExB\).woff') format('woff');
}
