// <!-- Insert You'r code DOWN HERE -->
.group-1 {
  margin-bottom: 40px;
  position: relative;

  &::before {
    display: block;
    content: "goit";
    @include font-mixin("Acrom-ExBold", 183px, $dark);
    opacity: 0.051;
    text-transform: uppercase;
    position: absolute;
    bottom: -38px;
    right: -140px;
    transform: rotate(90deg);
    z-index: -1;
    line-height: 0.7;
    @include xs('right', -120px);
    @include xs('bottom', 86px);
    @include xs('font-size', 150px);
    @include sm('bottom', 100px);
    @include sm('right', -135px);
    @include sm('font-size', 177px);
    @include md('bottom', 100px);
    @include md('right', -135px);
    @include md('font-size', 177px);
    @include lg('right', -138px);
  }
}

.page-title {
  @include font-mixin("Acrom-ExBold", 57.5px, $dark);
  margin-bottom: 20px;
  line-height: 1.3;
  margin-bottom: 34px;
  @include xs('font-size', 33px);
  @include sm('font-size', 35px);
}

.highlighted {
  background: $dark;
  color: $white;
  letter-spacing: -1px;
}

.about {
  @include font-mixin("Acrom-Bold", 21px, $dark-grey);
  position: relative;
  max-width: 465px;
  padding-left: 104px;
  margin-bottom: 58px;
  @include xs('font-size', 14px);
  @include xs('margin-bottom', 25px);
  @include xs('padding-left', 60px);

  &::after {
    display: block;
    content: "";
    position: absolute;
    width: 56px;
    height: 8px;
    top: 4px;
    left: 0;
    background: $dark;
    @include xs('width', 40px);
    @include xs('height', 4px);

  }
}

.site-desc {
  display: flex;
  @include xs('flex-wrap', wrap);
  @include sm('flex-wrap', wrap);
}

.left-img {
  min-width: 416px;
  min-height: 513px;
  @include xs('min-height', 120px);
  @include xs('max-height', 140px);
  @include xs('max-width', 320px);
  @include xs('min-width', 260px);
  @include xs('margin-bottom', 10px);
  @include sm('width', 100%);
  @include sm('max-height', 250px);
  @include sm('min-height', 150px);
  @include sm('margin-bottom', 30px);
  @include md('min-width', 370px);
  overflow: hidden;

  & > img {
    @include xs('transform', translateY(-25%));
    @include sm('transform', translateY(-25%));
    @include sm('width', 100%);

  }
}

.right-desc-text {

  margin-left: 16px;
}

.desc-title {
  @include font-mixin("Acrom-ExBold", 37px, $dark);
  padding-top: 38px;
  margin-bottom: 24px;
  position: relative;
  @include xs('font-size', 25px);
  @include xs('margin-bottom', 10px);
  @include md('font-size', 30px);

  &::before {
    position: absolute;
    display: block;
    content: "";
    width: 16px;
    height: 16px;
    background: $dark;
    left: 0;
    top: 0;
  }
}

.desc-main {
  &__parag {
    @include font-mixin('Acrom-Regular', 17px, $dark);
    @include xs('font-size', 14px);
    @include md('font-size', 15px);
    line-height: 1.4;

    &:first-child {
      margin-bottom: 34px;
    }
  }
}
