:root {
  --accent-color: rgb(149, 225, 211);
  --pink-color: rgb(243, 129, 129);
  --grey-color: rgb(153, 153, 153);
  --white-color: rgb(255, 255, 255);
  --dark-grey-color: rgb(51, 51, 51);
  --main-font: "Roboto", "Arial", sans-serif;
};

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; 
}

.page {
  font-family: var(--main-font);
  font-weight: 400;
  color: var(--grey-color);
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*Page header*/
.header {
  height: 100vh;
  min-width: 320px;
  background-image: -webkit-gradient( linear, left top, left bottom, from(rgba(243, 129, 129, .9)), to(rgba(252, 227, 138, .9))), url(../img/header-bg-img-min.jpg);
  background-image: -webkit-linear-gradient( top, rgba(243, 129, 129, .9) 0%, rgba(252, 227, 138, .9) 100%), url(../img/header-bg-img-min.jpg);
  background-image: -o-linear-gradient( top, rgba(243, 129, 129, .9) 0%, rgba(252, 227, 138, .9) 100%), url(../img/header-bg-img-min.jpg);
  background-image: linear-gradient( 180deg, rgba(243, 129, 129, .9) 0%, rgba(252, 227, 138, .9) 100%), url(../img/header-bg-img-min.jpg);
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover;
  margin-bottom: 46px;
}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
  .box { background: url('../img/retina/header-bg-img@2x-min.jpg') no-repeat; }
} 

.menu-line { 
  padding-top: 30px;
  margin-bottom: 44px;
}

.logo { text-decoration: none; }

.logo__slogan { margin: 0; }

.slogan {
  display: inline-block;
  font-size: 30px;
  line-height: 1.2;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: bold;
  color: var(--white-color);
}

/*Page navigation*/
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav__menu { margin: 0; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 622px;
  list-style-type: none;
  padding: 0;
  padding-top: 17px;
}

.menu__link {
  display: block;
  font-size: 14px;
  line-height: 1.2;
  font-family: "Montserrat", "Arial", sans-serif;
  color: var(--white-color);
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: all 0.2s linear;
       -o-transition: all 0.2s linear;
          transition: all 0.2s linear;
}

.menu__link_hovered:hover,
.menu__link_pressed:active {
  color: rgb(252, 227, 138);
  text-decoration: none;
}

.menu__link::after {
  display: block;
  content: "";
  width: 100%;
  height: 3px;
  margin-top: 12px;
  background-color: rgb(252, 227, 138);
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
       -o-transition: opacity 0.2s linear;
          transition: opacity 0.2s linear;
  cursor: auto;
}

.menu__link_hovered:hover::after{ opacity: 1; }

.cart-icon {
  display: inline-block;
  width: 17px;
  height: 14px;
  fill: var(--white-color);
}

.glass-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  fill: var(--white-color);
}

.icon::after {
  display: none;
}

.icon_hovered:hover,
.icon_pressed:active {
  fill: rgb(252, 227, 138);
}

.header-content__title {
  font-size: 150px;
  line-height: 140px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: bold;
  color: var(--white-color);
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 70px;
}

.header-content__subtitle {
  font-size: 72px;
  line-height: 1.2;
  color: var(--white-color);
  margin-bottom: 31px;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
   -webkit-box-pack: center;
      -ms-flex-pack: center;
    justify-content: center;
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
  margin: auto;
  width: 164px; 
  height: 44px; 
  font-size: 14px;
  line-height: 1.2;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
  border: 3px solid var(--white-color);
  text-align: center;
  margin-bottom: 230px;
}

.button_hovered:hover, button_focused {
  color: rgba(243, 129, 129, .9);
  background-color: var(--white-color);
  text-decoration: none;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.button_focused:focus {
  color: rgba(243, 129, 129, .9);
  text-decoration: none;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.button_pressed:active {
  color: rgba(243, 129, 129, .9);
  background-color: rgba(255, 255, 255, 0.5);
  border: 3px solid rgba(255, 255, 255, 0.5);
  text-decoration: none;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

/*Page content */
.section__title { margin: 0; }

.section-title::after {
  margin: 0 auto;
  margin-top: 35px;
}

.section-title::after {
  display: block;
  content: '';
  width: 60px;
  height: 3px;
  text-align: center;
  background-color: var(--pink-color);
}

.section-subtitle { margin-bottom: 15px; }

.subtitle {
  display: block;
  /*font-size: 24px;*/
  font-family: "Kaushan Script", cursive;;
  font-weight: 400;
  text-transform: none;
}


/*Page content*/
.section-title {
  font-size: 30px;
  line-height: 1.2;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: bold;
  color: var(--dark-grey-color);
  text-align: center;
  text-transform: uppercase;
}

.section-subtitle {
  font-size: 24px;
  line-height: 1.2;
  font-family: "Kaushan Script", cursive;
  color: var(--dark-grey-color);
}

/*Features section*/
.features__title { margin-bottom: 66px; }

.features-categorys {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
}

.features-category {
  width: 380px;
  height: 80px;
}

.features-category::before {
  display: block;
  float: left;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  content: '';
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-position: top center;
  fill: rgb(165, 229, 218);
}

.alarm-icon::before { background-image: url(../img/svg/services-icons/alarm-icon.svg); }

.line-graph-icon::before { background-image: url(../img/svg/services-icons/line-graph-icon.svg); }

.camputer-icon::before { background-image: url(../img/svg/services-icons/camputer-icon.svg); }

.book-icon::before { background-image: url(../img/svg/services-icons/book-icon.svg); }

.home-icon::before { background-image: url(../img/svg/services-icons/home-icon.svg); }

.frame-icon::before { background-image: url(../img/svg/services-icons/frame-icon.svg); }

.features__item {
  margin-bottom: 95px;
  width: 100%;
  height: 70px;
}

.features-category__name {
  margin: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.2;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--dark-grey-color);
}

.features-category-desc {
  margin: 0;
  font-size: 15px;
  line-height: 1.6;
}

/* Team section */
.main__team  { margin-bottom: 60px; }

.team__title { margin-bottom: 50px; }

.team__about {
  margin: 0 auto;
  margin-bottom: 90px;
  font-size: 15px;
  line-height: 1.6;
  text-align: center;
}

.team__card  { margin: 0; }

.employee:hover .socials {
  visibility: visible;
  -webkit-box-shadow: 10px 10px var(--accent-color);
          box-shadow: 10px 10px var(--accent-color);
  -webkit-transform: translate(-10px, -10px);
      -ms-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
  box-shadow: 10px 10px var(--accent-color);
}

.employee:hover .team__img {
  -webkit-transform: translate(-10px, -10px);
      -ms-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
} 

.team__item { position: relative; }

.employee-card {
  padding: 0;
  text-align: center;
}

.team__desc { margin: 0; }

.team__img {
  margin-bottom: 30px;
  -webkit-transition: .2s linear;
       -o-transition: .2s linear;
          transition: .2s linear;
}

.employee-card__desc-name { padding: 0; }

.team__name {
  margin: 0;
  margin-bottom: 10px;
}

.employee-card__desc-name {
  font-size: 14px;
  line-height: 1.2;
  font-family: "Montserrat", "Arial", sans-serif;
  color: var(--dark-grey-color);
  text-transform: uppercase;
}

.team__occupation { margin: 0; }

.employee-card__desc-occupation {
  padding: 0;
  font-size: 15px;
  line-height: 1.6;
  font-weight: 300;
  font-style: italic;
}

.team__socials {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 0;
  height: 433px;
  background-image: -webkit-gradient( linear, left top, left bottom, from(rgba(243, 129, 129, .9)), to(rgba(252, 227, 138, .9)));
  background-image: -webkit-linear-gradient( top, rgba(243, 129, 129, .9) 0%, rgba(252, 227, 138, .9) 100%);
  background-image: -o-linear-gradient( top, rgba(243, 129, 129, .9) 0%, rgba(252, 227, 138, .9) 100%);
  background-image: linear-gradient( 180deg, rgba(243, 129, 129, .9) 0%, rgba(252, 227, 138, .9) 100%);
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
  list-style-type: none;
  visibility: hidden;
  opacity: 0.9;
}

.team__btn { margin-right: 4px; }

.socials__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  background-color: rgb(252, 227, 138);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.socials__icon_hovered:hover,
.socials__icon_pressed:active  {
  background-color: var(--pink-color);
}

.facebook-icon {
  width: 13px;
  height: 26px;
  fill: var(--pink-color);
}

.socials__icon_hovered:hover .facebook-icon {
  fill: var(--white-color);
}

.twitter-icon{
  width: 26px;
  height: 22px;
  fill: var(--pink-color);
}

.socials__icon_hovered:hover .twitter-icon { fill: var(--white-color); }

.pinterest-icon {
  width: 21px;
  height: 26px;
  fill: var(--pink-color);
}

.socials__icon_hovered:hover .pinterest-icon { fill: var(--white-color); }

.instagram-icon {
  width: 26px;
  height: 26px;
  fill: var(--pink-color);
}

.socials__icon_hovered:hover .instagram-icon { fill: var(--white-color); }

/* Page footer */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
/*  width: 1200px;*/
  min-height: 64px;
  /*border-top: 1px solid rgb(229, 229, 229);*/
  font-size: 14px;
  color: var(--dark-grey-color);
}

.footer__copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.link-author {
  color: var(--pink-color);
  text-decoration: none;
  cursor: pointer;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form__input {
  width: 200px;
  height: 40px;
  padding: 0;
  padding-left: 10px;
  border: 1px solid rgb(229, 229, 229);
  font-size: 15px;
  line-height: 1.6;
  font-weight: 300;
  font-style: italic;
  color: rgb(204, 204, 204);
  text-align: left;
  outline: none;
}

.form__btn {
  width: 150px;
  height: 40px;
  padding: 0;
  border: none;
  font-size: 14px;
  line-height: 1.2;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: bold;
  color: rgb(245, 255, 255);
  text-transform: uppercase;
  background-color: var(--accent-color);
  outline: none;
  cursor: pointer;
}

.form__btn_hovered:hover {
  background-color:  rgb(130, 197, 185);
  -webkit-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.form__btn_active:active { background-color:  rgb(122, 184, 173); }

/* visually-hidden helper */
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}